@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Inter&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
:root {
  --red: #d34242;
  --maroon: #850000;
  --text: #fff;
  --black: #000;
}
a {
  text-decoration: none;
}
