* {
    font-family: 'Oswald', sans-serif;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.monospace {
    height: fit-content;
    font-family: monospace;
}

.small-caps {
    font-variant: small-caps;
}

.large-caps {
    color: rgb(255, 0, 162);
    font-variant: normal;
}

.font-lg {
    font-size: x-large;
    font-weight: 500;
}

#ultra {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.peekbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 0, 162);
    color: white;
    font-family: monospace;
    font-weight: bolder;
}

.boiler2-header {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 40px;
    padding: 10px;
}

.bodie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* transform: translateY(-80px); */
    flex-grow: 1;
    width: 100%;
    align-self: center;
}

.bg-logo {
    align-self: center;
    background: url(https://cdn.discordapp.com/attachments/1076441506325475379/1076537611918786600/logo-highres.png);
    margin-bottom: 20px;
    width: 80%;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#org-about {
    text-align: center;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 10px;
    width: 60%;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#social-container { 
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    text-align: center; 
    font-family: 'Noto Sans';
}

.social-sub-container {
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px; 
    margin-bottom: 5px;
    background: rgba(230,60,230, 0.1);
    border-radius: 8px;
    padding: 10px;
    transition: 300ms;
    width: 230px;
}

.social-text {
    font-size: 20px;
    font-weight: 200;
}

.social-sub-container:hover {
    background: rgba(230, 60, 159, 0.2);
}

@media only screen and (max-width: 600px) {
    .bg-logo {
        margin-bottom: 10px;
    }

    #org-about {
        width: 90%;
    }

    #social-container {
        flex-direction: column;
    }
}

.magenta {
    color: rgb(255, 0, 162);
}

.noto {
    font-family: 'Noto Sans';   
}

.footer {
    align-self: center;
    height: fit-content;
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-ic {
    color: rgb(150, 150, 150);
    transition: 300ms;
}

.social-ic:hover {
    color: rgb(70, 70, 70)
}