.header{
    background-image: url("../../assets/coronavirus_student_pti_6_1200x768.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}