.navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
    box-shadow: 0 0 2px 3px  rgba(175, 175, 175, 0.829);
}
.navbarContainer .brand{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbarContainer h2{
    margin: 0;
}
.navbarContainer .initials{
    color: var(--red);
    font-family: 'Gloria Hallelujah', cursive;
}
.navbarLinks ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
.navbarLinks li{
    padding: 0 10px;
}
.navbarLinks a{
    color: var(--red);
    font-weight: 500;
}
.navbarLinks a:hover{
    color: var(--maroon);
}