.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  /* box-shadow: 0 0 15px 0px rgba(104, 104, 104, 0.829); */
  position: relative;
}

.brand {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 220px;
  height: 180px;
}
.brand img {
  width: 100%;
}
.navbarContainer .initials {
  color: var(--red);
  font-family: "Gloria Hallelujah", cursive;
}
.navbarLinks {
  flex: 1;
}
.navbarLinks ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.navbarLinks li {
  padding: 0 10px;
}
.navbarLinks a {
  color: var(--red);
  font-weight: 600;
}
.navbarLinks a:hover {
  color: var(--maroon);
}
.donateBtn {
}
