.sprosans {
    font-family: 'Source Sans Pro', sans-serif;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
}

.badscript {
    font-family: 'Bad Script', cursive;
}

.navbg {
    background: linear-gradient(45deg,
            rgba(59, 173, 227, 1) 0%,
            rgba(87, 111, 230, 1) 25%,
            rgba(152, 68, 183, 1) 51%,
            rgba(255, 53, 127, 1) 100%),
}