.navbar2-container {
  /* background: #630202; */
  background-color: transparent;
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 100;
  padding: 3px 20px 10px;
}

.social-handles a {
  color: #FF8080;
}
.social-handles a:hover {
  color: var(--red);
}
.social-icons {
  font-size: 18px;
  margin: 10px 10px 0 10px;
}
